:root {
  --primary: #fffcfc;
  --secondary: #1cb7ff;
  --tertiary: #000000;
  --extra: #5e5e5e;
}
/*features-section*/
.features-head img{
  width: 200px;
  height: auto;
  justify-self: flex-end;
}

.features-sub-head img{
  width: 300px;
  justify-self: flex-end;
}

.lead-2{
color: var(--extra);
margin-top: 20px;
}

.features-main .card > i{
margin-right: 20px;
}

.features-main .grid{
  padding: 30px;
}

.features-main .grid > *:first-child{
  grid-column: 1 / span 3;
}

.features-main .grid > *:nth-child(2){
  grid-column: 1 / span 2;
}

  .features-head,
.features-sub-head,
.projects-head{
  text-align: center;
}

.features-head  img,
.features-sub-head img,
.projects-head img{
  justify-self: center;
}


@media (max-width: 768px) {
.features-main .grid>*:first-child,
  .features-main .grid>*:nth-child(2) {
    grid-column: 1;
  }
}
  


